/web-app/testing/
/web-app/WeceemFiles/
export-test-*
/target
/stacktrace.log
/test/files/default-space-tests/WeceemFiles
/.idea
*.iml
*.ipr
*.iws
target-eclipse
.settings
.project
.classpath
.link_to_grails_plugins
