<plugin name='weceem' version='1.0-M1' grailsVersion='1.2.2 &gt; *'>
  <author>jCatalog AG</author>
  <authorEmail>info@weceem.org</authorEmail>
  <title>Weceem CMS</title>
  <description>\
A CMS that you can install into your own applications, as used by the Weceem CMS application
</description>
  <documentation>http://grails.org/plugin/weceem</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>QuartzConfig</resource>
    <resource>Searchable</resource>
    <resource>WeceemPluginUrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>org.weceem.controllers.WcmArchiveController</resource>
    <resource>org.weceem.controllers.WcmContentController</resource>
    <resource>org.weceem.controllers.WcmContentSubmissionController</resource>
    <resource>org.weceem.controllers.WcmEditorController</resource>
    <resource>org.weceem.controllers.WcmFeedsController</resource>
    <resource>org.weceem.controllers.WcmPortalController</resource>
    <resource>org.weceem.controllers.WcmRepositoryController</resource>
    <resource>org.weceem.controllers.WcmSearchController</resource>
    <resource>org.weceem.controllers.WcmSpaceController</resource>
    <resource>org.weceem.controllers.WcmSynchronizationController</resource>
    <resource>org.weceem.controllers.WcmVersionController</resource>
    <resource>org.weceem.controllers.WcmWikiItemRenderController</resource>
    <resource>org.weceem.blog.WcmBlog</resource>
    <resource>org.weceem.blog.WcmBlogEntry</resource>
    <resource>org.weceem.content.WcmComment</resource>
    <resource>org.weceem.content.WcmContent</resource>
    <resource>org.weceem.content.WcmContentVersion</resource>
    <resource>org.weceem.content.WcmExternalLink</resource>
    <resource>org.weceem.content.WcmFolder</resource>
    <resource>org.weceem.content.WcmRelatedContent</resource>
    <resource>org.weceem.content.WcmSpace</resource>
    <resource>org.weceem.content.WcmStatus</resource>
    <resource>org.weceem.content.WcmTemplate</resource>
    <resource>org.weceem.content.WcmVirtualContent</resource>
    <resource>org.weceem.content.WcmWidget</resource>
    <resource>org.weceem.css.WcmStyleSheet</resource>
    <resource>org.weceem.files.WcmContentDirectory</resource>
    <resource>org.weceem.files.WcmContentFile</resource>
    <resource>org.weceem.html.WcmHTMLContent</resource>
    <resource>org.weceem.js.WcmJavaScript</resource>
    <resource>org.weceem.script.WcmAction</resource>
    <resource>org.weceem.script.WcmScript</resource>
    <resource>org.weceem.wiki.WcmWikiItem</resource>
    <resource>org.weceem.jobs.AutoPublicationJob</resource>
    <resource>org.weceem.jobs.ExternalLinksJob</resource>
    <resource>org.weceem.services.WcmCacheService</resource>
    <resource>org.weceem.services.WcmContentRepositoryService</resource>
    <resource>org.weceem.services.WcmContentVersionService</resource>
    <resource>org.weceem.services.WcmEditorService</resource>
    <resource>org.weceem.services.WcmEventService</resource>
    <resource>org.weceem.services.WcmImportExportService</resource>
    <resource>org.weceem.services.WcmSecurityService</resource>
    <resource>org.weceem.tags.AdminTagLib</resource>
    <resource>org.weceem.tags.CacheTagLib</resource>
    <resource>org.weceem.tags.EditorFieldTagLib</resource>
    <resource>org.weceem.tags.WeceemTagLib</resource>
    <resource>org.weceem.tags.WidgetTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='searchable' version='0.5.5 &gt; *' />
    <plugin name='quartz' version='0.4.2 &gt; *' />
    <plugin name='navigation' version='1.1.1 &gt; *' />
    <plugin name='ckeditor' version='3.4.1 &gt; *' />
    <plugin name='feeds' version='1.5 &gt; *' />
    <plugin name='beanFields' version='1.0-RC3 &gt; *' />
    <plugin name='blueprint' version='0.9.1.1 &gt; *' />
    <plugin name='jqueryUi' version='1.8.6.1 &gt; *' />
    <plugin name='cacheHeaders' version='1.1.2 &gt; *' />
    <plugin name='taggable' version='0.6.2 &gt; *' />
  </dependencies>
  <behavior />
</plugin>