<plugin name='weceem' version='0.3-SNAPSHOT' grailsVersion='1.1.1 &gt; *'>
  <author>jCatalog AG</author>
  <authorEmail>info@weceem.org</authorEmail>
  <title>Weceem CMS</title>
  <description>\
A CMS that you can install into your own applications, as used by the Weceem CMS application
</description>
  <documentation>http://grails.org/plugin/weceem</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>QuartzConfig</resource>
    <resource>Searchable</resource>
    <resource>WeceemPluginUrlMappings</resource>
    <resource>org.weceem.controllers.ContentController</resource>
    <resource>org.weceem.controllers.EditorController</resource>
    <resource>org.weceem.controllers.PortalController</resource>
    <resource>org.weceem.controllers.RepositoryController</resource>
    <resource>org.weceem.controllers.SpaceController</resource>
    <resource>org.weceem.controllers.SynchronizationController</resource>
    <resource>org.weceem.controllers.VersionController</resource>
    <resource>org.weceem.controllers.WikiItemRenderController</resource>
    <resource>org.weceem.blog.Blog</resource>
    <resource>org.weceem.blog.BlogComment</resource>
    <resource>org.weceem.blog.BlogEntry</resource>
    <resource>org.weceem.content.Content</resource>
    <resource>org.weceem.content.ContentVersion</resource>
    <resource>org.weceem.content.RelatedContent</resource>
    <resource>org.weceem.content.Space</resource>
    <resource>org.weceem.content.Status</resource>
    <resource>org.weceem.content.Template</resource>
    <resource>org.weceem.content.VirtualContent</resource>
    <resource>org.weceem.content.Widget</resource>
    <resource>org.weceem.css.StyleSheet</resource>
    <resource>org.weceem.files.ContentDirectory</resource>
    <resource>org.weceem.files.ContentFile</resource>
    <resource>org.weceem.html.HTMLContent</resource>
    <resource>org.weceem.wiki.WikiItem</resource>
    <resource>org.weceem.jobs.ExternalLinksJob</resource>
    <resource>org.weceem.services.ContentRepositoryService</resource>
    <resource>org.weceem.services.ContentVersionService</resource>
    <resource>org.weceem.services.EditorService</resource>
    <resource>org.weceem.services.EventService</resource>
    <resource>org.weceem.services.ImportExportService</resource>
    <resource>org.weceem.services.WeceemSecurityService</resource>
    <resource>org.weceem.tags.AdminTagLib</resource>
    <resource>org.weceem.tags.EditorFieldTagLib</resource>
    <resource>org.weceem.tags.WeceemTagLib</resource>
    <resource>org.weceem.tags.WidgetTagLib</resource>
    <resource>org.weceem.tags.WorkaroundsTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='searchable' version='0.5.4 &gt; *' />
    <plugin name='quartz' version='0.4.1-SNAPSHOT &gt; *' />
    <plugin name='navigation' version='1.1 &gt; *' />
    <plugin name='fckeditor' version='0.9.2 &gt; *' />
  </dependencies>
  <behavior />
</plugin>