div.loadingViewLock {
  background: url("../images/loading.gif") left center no-repeat;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  z-index: 999;
}