span#userName {
  font-weight: bold;
  font-size: 11px;
  padding-top: 2px;
  padding-right: 17px;
  color: white;
  text-align: right; 
}

div#adminLogo {
  background: url(../images/layout/weceem-logo.png) no-repeat 10px;
  border: none;
  height: 100px;
}

#iconbar { 
  top:1em;
}

#navigation {
    border-bottom: 1px silver solid;
    margin-bottom: 1.4em;
}

.ui-content-icon {
    cursor:pointer;
    cursor:hand;
}

.editorsaveactions {
    padding-top: 5px;
    border-top: 1px solid silver;
}

.field-readonly {
   font-size: 1.2em;
   font-weight:bold;
}

.field input {
   font-size: 1.2em;
   padding: 3px; 
}

/*

NAVIGATION

For ease of colortheming, the color selectors are grouped together with descriptive comments.
Just change the color-values to apply your own color-scheme.

*/

/* Main navigation */
.navigation li a, 
.navigation li a:visited { color: #ccc;  background-color: #365077 }               
.navigation li a:hover { color: #fff; background-color: #40aac7; }                 

.navigation li.navigation_active a,
.navigation li.navigation_active a:visited { color:#FFF; background-color: #4085aa; }     
.navigation li.navigation_active a:hover {  color:#FFF;background-color: #40aac7;} 

.navigation li { border: none; }                          
.navigation li.navigation_first { border: none; }        
.navigation li.navigation_active { border-left-color: #555; }       /* Highlight border-color of active item */

/* Sub navigation */
.subnavigation li { background-color: #555; }                       /* Background-color */
.subnavigation li a { border-color: #555; }                         /* Should be set to the same as the above */
.subnavigation li a { color: #fff; }                                /* Text color */
.subnavigation li a:hover { border-color: #fff; }                   /* Markings color of hovered item */
.subnavigation li a:hover { color: #e0e0e0; }                       /* Text color of hovered item */
.subnavigation li.subnavigation_active a { color: #e0e0e0; }        /* Text color of active item */
.subnavigation li.subnavigation_active a { border-color: #e0e0e0; } /* Markings color of active item */


.navigation {
    list-style-type: none;
    clear: both;
    margin: 0;
    font-size: 1.2em;
    overflow: hidden; /* Clearing floats */
}

.navigation li { display:inline; }

.navigation li a {
  padding: 0.25em 0.6em;
  display: block;
}



.subnavigation {
    list-style-type: none;
    clear: both;
    margin: 1em 0;
    font-size: 12px;
    overflow: auto; /* Clearing floats */
}
.subnavigation li {
    float: left;
    /* background-color: #555; */
    padding: 0.35em 1.5em;
    border-width: 1px 0;
}
.subnavigation li a {
    display: block;
    /* color: #fff; */
    padding: 2px 0;
    /* border-color: #555; */
    border-style: solid;
    border-width: 1px 0;
    text-decoration: none;
}
.subnavigation li a:hover {
    /* border-color: #fff; */
    border-width: 1px 0;
}
.subnavigation li.subnavigation_active a {
    /* color: #e0e0e0; */
    cursor: default;
    /* border-color: #e0e0e0; */
}

/*Footer*/
.footer { 
  margin-top:2em; 
  font-size:0.95em; 
  color: #999999;
  text-align:right;
}

/*
 * CodeMirror: Fixes an issue with Safari on Ipad where the code overflows the text area.
 */
.CodeMirror-wrapping {
  overflow : scroll;
  -webkit-overflow-scrolling: touch;
}

.message {
    margin-top: 2px;
    margin-bottom: 2px;
}
table {
    margin-bottom: 1.4em;
    width: 100%;
}
th {
    font-weight: bold;
}
thead th {
    background: none repeat scroll 0 0 #c3d9ff;
}
th, td, caption {
    padding: 4px 10px 4px 5px;
}
tbody tr:nth-child(2n) td, tbody tr.even td {
    background: none repeat scroll 0 0 #e5ecf9;
}

.navigation {
    margin-bottom: 0px;
}
ul, ol {
    padding-left: 1.5px;
}
.clearfix:after, .container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix, .container {
    display: block;
}
.container {
    margin: 0 auto;
    width: 950px;
}

html {
    font-size: 100.01%;
}
h1 {
    margin-top: 10px;
    font-size: 36px;
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
h2.sectionLabel {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
    font-weight: bold;
}
a.button, button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    border-color: #eee #dedede #dedede #eee;
    border-image: none;
    border-right: 1px solid #dedede;
    border-style: solid;
    border-width: 1px;
    color: #565656;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 100%;
    line-height: 130%;
    margin: 0.7em 0.5em 0.7em 0;
    padding: 5px 10px 5px 7px;
    text-decoration: none;
}
.ui-widget {
    font-family: inherit;
}

.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }